html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Allow the main content to grow and fill the available space */
}

footer {
  margin-top: auto; /* Push footer to the bottom of the page */
}
